<h1><%= @student.first_name %></h1>

<!-- <form class="">
  <input type="hidden" id= "hidden" name="_method" value="put">
  <input type="hidden" name="id" value="<%= @student.id %>">
  <label for="active"> true</label>
  <input type="checkbox" name="active" value="true">
  <label for="active"> false</label>
  <input type="checkbox" name="active" value="false">
  <input type="submit" name="submit">

</form> -->

 <!-- action="/students/<%= @student.id %>" method="get" -->
