<div>
  <% @students.each do |student| %>
    <div>
      <%= full_name = student.first_name + " " + student.last_name %>
      <%= link_to full_name, student_path(student) %>
    </div>
  <% end %>
</div>
